/********** Root **********/

html {
  font-family: "DejaVu Sans";
  margin: 1rem auto 1rem auto;
  max-width: 40rem;
}

/********** Element shots **********/

.download-links {
  margin-top: 1em;
  display: flex;
  gap: 0.75rem;
  align-items: baseline;
}

.element-shot {
  display: none;

  img, canvas {
    border: solid thin hsl(0 0 50%);
  }
}

/********** Headings **********/

h2 {
  border-bottom: solid thin gray;
}

.heading-link {
  display: none;
  text-decoration: none;
}
:is(h1, h2, h3, h4, h5, h6):hover .heading-link {
  display: inline;
}

:target {
  background-color: yellow;
}
